{% extends "base.html" %}
{% block script %}
<script>
 
    $(document).ready(function(){
     loadTweetContainer("tweet-container",{{ object.id }} )

     

});
</script>
{% endblock script%}

{% block content %}

<div class="row">
        <div class='col-sm-3' style='background-color:red;'>
                <h1> {{ object.user }}</br></h1>
        </div>

        <div class='col-sm-9'>
                <div id='tweet-container'>                
               
                </div>

        </div>
</div>
{% endblock content %}
